$purple-color: #7D2CE0;
$white-color: #FFFFFF;         /* general colors  */
$faint-purple-color: #B0A6EE;

.pass-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: white;
    
}

.white-box {
    background-color: white;
    width: 50%;
    height: 100vh;
    border-right: 3px solid $faint-purple-color;
}

.purple-box {
    background-color: $purple-color;
    width: 50%;
    height: 100vh;
}

.password-recovery-container {
    z-index: 1;
    width: 600px;
    height: 300px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(16px);
    padding: 20px;
    border: solid 2px $purple-color;
    border-radius: 10px;
    box-shadow: 0 0 0 .2rem $faint-purple-color;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    .title-wrapper {
        background-color: white;
        border-radius: 10px;
        margin-bottom: 20px;
        text-align: center;    
    }
    
}


